<p-toolbar class="mb-4">
  <div class="p-toolbar-group-left">
    <h2>Home</h2>
  </div>

  <div class="p-toolbar-group-right">
    <p-button
      *ngIf="!isLoggedIn()"
      label="Login"
      icon="pi pi-sign-in"
      (onClick)="navigateTo('login')"
      class="p-button-outlined">
    </p-button>

    <p-button
      *ngIf="isLoggedIn()"
      label="Logout"
      icon="pi pi-sign-out"
      class="p-button-outlined p-ml-2"
      (onClick)="logout()">
    </p-button>
  </div>
</p-toolbar>

<div class="flex gap-4 px-4" style="align-items: center; min-height: 400px;">

  <p-panelMenu [model]="menuItems" styleClass="w-56"></p-panelMenu>

  <p-card class="flex-1 p-4">
    <ng-template pTemplate="header">
      <h3>Page Descriptions</h3>
    </ng-template>

    <ul class="line-height-4">
      <li><b>Articles:</b> View, create, edit, and delete articles</li>
      <li><b>Locations:</b> View, create, edit, and delete locations</li>
      <li><b>Stock:</b> Check stock per article per location</li>
      <li><b>Documents:</b> Create draft documents OR create and confirm stock movement documents if user is logged in</li>
      <li><b>Drafts:</b> View drafts OR convert frontend drafts into real documents if user is logged in</li>
    </ul>
  </p-card>

</div>